
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  outline: royalblue;
  text-decoration: none !important;
}
.header{
    background-color: turquoise;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color:black;
    font-weight: bolder;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    border-style:solid;
    margin: 20px 0px 1px;
    
  }
.subheading{
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-weight:lighter;
  }
.goodvibes-form{
    height: 100vh;
    background-image: url('/IMAGE/GDV3.webp');
    background-size: cover;
    display: flex;
    align-items : center;
    justify-content :center;
}

.goodvibes-form .box{
    min-width: 600px;
    min-height: 800px;
    background-color:paleturquoise;
    box-shadow: 0px 0px 10px black;
    padding: 40px;
    box-align: center;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
.goodvibes-form .box .form-fields{
    display: flex;
    flex-direction: column;
    width : 100px;
}
.label {
  padding: 12px 12px 12px 0;
  display:inline-flex;
  width:400%;
  margin-top:6px;
  
}
.goodvibes-form .box .form-fields .input-box{
    position:relative;
    margin-top: 6px;
    width:300%;
    box-sizing: border-box;
    
}
.goodvibes-form .box .form-fields .input-box .form-control{
  
    height: 40px;
    width:400px;
    padding: 12px;
    color:#444444;
    border:1px solid #cccccc;
    border-radius: 4px;
}
.goodvibes-form .box .form-fields .input-box .form-control::placeholder{
  color:#cccccc;
  
}

.dropbtn {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .select {
    position:relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index:1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 13px 20px;
    text-decoration:lightskyblue;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:lightblue;
  }
.container{
  display: block;
  position: relative;
  padding-left: 13px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container .input{
  position: absolute;
  opacity:0;
  cursor: pointer;
}
.textarea {
  width: 400%;
  height: 150px;
  font-size: 16px;
  
}
.submit_button {
  content: "";
  display: table;
  clear:right;
  padding: 10px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  
  }

 